
<body>

<div class="form-container">
  <div>
    <h2>Veillez saisir vos informations s'il vous plait</h2>
  </div>
<form class="form" [formGroup]="etudiant" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="prenom">Prénom :</label>
    <input id="prenom" formControlName="prenom" type="text" />
  </div>

  <div class="form-group">
    <label for="nom">Nom :</label>
    <input id="nom" formControlName="nom" type="text" />

  </div>

  <div class="form-group">
    <label for="addresse">Adresse :</label>
    <input id="addresse" formControlName="addresse" type="text" />
  </div>

  <div class="form-group">
    <label for="email">Email :</label>
    <input id="email" formControlName="email" type="email" required />

  </div>

  <button  type="submit" [disabled]="etudiant.invalid" (click)="addEtudiant()">Envoyer</button>
</form>
</div>
</body>
