<div class="notes">
  <h2>Gestion des Notes</h2>

  <div class="lis">
    <div>
      <label for="etudiantId">Matricule:</label>
      <input id="etudiantId" type="number" [(ngModel)]="etudiantId">
      <button (click)="getNotesByEtudiantId()">Charger les notes</button>
    </div>

  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Étudiant ID</th>
      <th>Matière</th>
      <th>Note</th>
      <th>Année Académique</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let note of notes">
      <td>{{ note.id }}</td>
      <td>{{ note.etudiant.id }}</td>
      <td>{{ note.matiere }}</td>
      <td>{{ note.note }}</td>
      <td>{{ note.anneeAcademique }}</td>
      <td>
        <!--<button (click)="deleteNote(note.id)">Supprimer</button>-->
      </td>
    </tr>
    </tbody>
  </table>
 <!-- <div class="new-note-form">
    <h3>Ajouter une nouvelle note</h3>
    <div>
      <label for="newEtudiantId">ID de l'étudiant:</label>
      <input id="newEtudiantId" type="number" [(ngModel)]="newNote.etudiantId">
    </div>
    <div>
      <label for="newMatiere">Matière:</label>
      <input id="newMatiere" type="text" [(ngModel)]="newNote.matiere">
    </div>
    <div>
      <label for="newNote">Note:</label>
      <input id="newNote" type="number" [(ngModel)]="newNote.note">
    </div>
    <div>
      <label for="newAnneeAcademique">Année Académique:</label>
      <input id="newAnneeAcademique" type="text" [(ngModel)]="newNote.anneeAcademique">
    </div>
    <button (click)="createNote()">Ajouter la note</button>
  </div>
</div>-->
</div>
