<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau des notes</title>

</head>
<body>


    <div class="IDF">
      <br> Prénom:Maty
      <br> Nom: Ndour
      <br> Matricule: ITD-LAB027
    </div>
    <table class="notes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matière</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>
