body{
  margin: 10px;
  padding: 50px;
  background-color: #c99507;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

img{
  align-items: center;
  width: 100%;
  height: 401px;
}
button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0;
  background-color: #c99507;
  // flex: 1 1 calc(100% - 10px); /* Chaque bouton occupe environ un tiers de la ligne moins l'espacement */
  padding: 40px 60px;            /* Taille du bouton (grandes dimensions) */
  font-size: 40px;               /* Taille du texte à l'intérieur du bouton */
  color: #0c0a01;                  /* Couleur du texte */
  border: none;                  /* Retirer les bordures */
  border-radius: 48px 0;            /* Coins légèrement arrondis */
  cursor: pointer;               /* Change le curseur lorsqu'on survole le bouton */
  transition: background-color 0.3s ease; /* Transition douce pour les changements de couleur */
  width: 50%;
}

.button-container button:hover {
  background-color: #044daa;

}
.login {
  padding: 20px;
  align-items: center;
  justify-items: center;
  width:  200px;
  height: 20vh;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01; /* Couleur du texte */
  transition: background-color 0.3s ease;
}

.acceuil{
  width: 300px;
  height: 30vh;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01; /* Couleur du texte */
  transition: background-color 0.3s ease;
}
/* ==========================================================================
Main page styles
========================================================================== */
/*
.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}
*/
/* wait autoprefixer update to allow simple generation of high pixel density media query */
/*@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
*/

/* Styles pour le conteneur de boutons */

body{
  margin: 0;
  padding: 20px;
  background-color: #c99507;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.button-container {
  display: flex;
  flex-wrap: wrap;        /* Permet de passer à la ligne suivante après 3 boutons */
  justify-content: space-between; /* Espace les boutons de manière égale */
  gap: 10px;              /* Ajoute un espacement entre les boutons */
}

/* Styles pour les boutons */
.button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin: 0;
  background-color: #1d5291;
  flex: 1 1 calc(33.33% - 10px); /* Chaque bouton occupe environ un tiers de la ligne moins l'espacement */
  padding: 20px 40px;            /* Taille du bouton (grandes dimensions) */
  font-size: 20px;               /* Taille du texte à l'intérieur du bouton */
  color: #0c0a01;                  /* Couleur du texte */
  border: none;                  /* Retirer les bordures */
  border-radius: 48px 0;            /* Coins légèrement arrondis */
  cursor: pointer;               /* Change le curseur lorsqu'on survole le bouton */
  transition: background-color 0.3s ease; /* Transition douce pour les changements de couleur */
}

.button-container button:hover {
  background-color: #ffffff;

}
.etudiant{

  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.prof{

  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.admin{
  height: 100px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.cours{

  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.notifs{

  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.salle{

  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, #FF5733 50%, #33B5E5 50%);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0c0a01;                  /* Couleur du texte */
  transition: background-color 0.3s ease;
}
.connect{
  padding: 20px 4px;
  margin: 10px;

}

h1{
  text-align: center;
  font-family: "Roboto Light";
  font-style: normal;
  font-size: x-large;
}
h3{
  text-align: center;
  font-family: "Roboto Light";
  font-style: normal;
  font-size: small;
}

