<body>

<div class="button-container">

<button class="etudiant" [routerLink]="['/studentSpace']" >Espace Etudiant</button>
<button class="prof" [routerLink]="['/profSpace']" >Espace Professeur</button>
<button class="certifs" [routerLink]="['/cetifsSpace']" >Espace Certification</button>
<button class="cours" [routerLink]="['/coursSpace']" > Cours </button>
<button class="salle" [routerLink]="['/classeSpace']" > Salle de Classe</button>
<button class="notifs" [routerLink]="['/notifSpace']" >Centre de Notification</button>
</div>
<router-outlet></router-outlet>



</body>
