<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau des notes</title>
    
</head>
<body>

    <div *ngIf="accountService.isAuthenticated()"><h1>Je suis {{ account()!.login }}!</h1></div>
    <div class="IDF">
        Prénom:Maty
        Nom: Ndour
        Matricule: ITD-LAB027
    </div>
    <table class="notes">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matière</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Base de Données</td>
                <td>18</td>
            </tr>
            <tr>
                <td>2</td>
                <td>dev backend</td>
                <td>15</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Marketing Digital</td>
                <td>17</td>
            </tr>
        </tbody>
    </table>
</body>
</html>